{% extends "base.html" %}
{% block content %}
<div id="cityinput">
  <div id="pac-container">
    <input id="pac-input" type="text" placeholder="Enter a location" />
  </div>
</div>



<div id="map" style="display:none"></div>
<div id="cityScore">
    <div style="text-align:center;font-size:2.3em;;"> ARV: $235,000(+/- $22,000)</div>
    <div class="left">
        <h3> Comps</h3>
        <ul>
            <li> 325 Boulder St - 4bed 3bath 2000 sq ft - Sold 11/01/23 $297,300
            <li> 14 Boudin Ave  - 3bed 2bath 1800 sq ft - Sold 11/10/23 $222,300
            <li> 45 Jump St  - 3bed 2bath 2200 sq ft - Sold 11/20/23 $271,220
        </ul>
    </div>
    <div class="right">
        <h3> This home</h3>
        <ul>
            <li> 10,000 sq ft Lot Size
            <li> 2000 sq ft home
            <li> 3 bed 3 bath
            <li> Last sold: 10/1/2018 @ $112,000
            <li> Liens: Bank One mortgage @ $80,321
        </ul>
    </div>
</div>

    </div>
    <div id="infowindow-content">
      <span id="place-name" class="title"></span><br />
      <span id="place-address"></span>
    </div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
<script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgjoKgBaQghIlVps-ORsHYYl0GnIDyc0g&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
{% endblock %}


