<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">

<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="/static/img/favicons/favicon.png" />
    <link rel='stylesheet' href='/static/css/index.css' />
    <link rel='stylesheet' href='/static/css/base.css?v=3' />
    <link rel='stylesheet' href='/static/css/portfolio.css?v=5' />
    <link rel='stylesheet' href='/static/css/realtors.css' />
    <link rel='stylesheet' href='/static/css/about.css' />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
<div id="header">
    <div id="logo"></div>
    <div id="phone"> {{ obj['phone'] }}
   <!-- <br><a href="mailto:team@manatools.com?subject=Inquiry" target="_blank">team@manatools.com</a>-->
   </div>
    <nav>
        <ul>
            <li><a href="/" class="nav services">HOME</a></li>
            <li><a href="/realtors">FOR REALTORS</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
<!--            <li><a href="/about">ABOUT</a></li> -->
            <li><a href="/contact" target="_blank">CONTACT</a></li>
        </ul>
    </nav>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<!--<div class="break toolbox"></div>-->

<div id="footer"></div>
</html></body>

