<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">

<head profile="http://www.w3.org/2005/10/profile">

    <link rel="icon" type="image/icon" href="/static/img/favicons/favicon.ico?v=3" />
    <link rel='stylesheet' href='/static/css/index.css' />
    <link rel='stylesheet' href='/static/css/base.css?v=3' />
    <link rel='stylesheet' href='/static/css/cityscore.css?v=5' />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgjoKgBaQghIlVps-ORsHYYl0GnIDyc0g&libraries=places"></script>
    <link rel="stylesheet" href="/static/css/city-autocomplete.css" />
    <script src="/static/js/jquery.city-autocomplete.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="/static/js/places.js"></script>
    <link rel='stylesheet' href='/static/css/places.css' />;
</head>
<body>
<div id="header">
    <div id="logo"></div>
    <div id="slogan"> Your Real Estate Solutions
   <!-- <br><a href="mailto:team@manatools.com?subject=Inquiry" target="_blank">team@manatools.com</a>-->
   </div>
    <nav>
        <div id="cityscore" class="item">
            <div class="bg cityscore"></div>
            <div class="text">City Score</div>
        </div>
        <div class="item">
            <div class="bg appraisal"></div>
             <div class="text">Appraisal Now</div>
        </div>
        <div class="item">
            <div class="bg proforma"></div>
        <div class="text">EZgPro-Forma</div>
        </div>
    </nav>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<!--<div class="break toolbox"></div>-->

<div id="footer"></div>
</html></body>

