{% extends "base.html" %}
{% block content %}
<link rel='stylesheet' href='/static/css/cityscore.css?v=5' />
<div id="cityinput">
  <div id="pac-container">
    <input id="pac-input" type="text" placeholder="Enter a location" />
  </div>
</div>



    <div id="map"></div>
<div id="cityScore">
    <div style="text-align:center;font-size:2.3em;;"> Round Rock Overall score: 73</div>
    <div class="left">
        <h3> Additional scores</h3>
        <ul>
            <li> 54 Fix & Flip 
            <li> 76 Ground Up Development 
            <li> 85 Rental STR and MTR
            <li> 75 Rental LTR
            <li> 93 Growth 
        </ul>
    </div>
    <div class="right">
        <h3> Metrics </h3>
        <ul>
            <li> 45,420 Population (+100) </li>
            <li> 45: Average days on market </li>
            <li> 14: Homes sold (+1) </li>
            <li> $410,100 Median home price (-$12,030)</li>
            <li> $1,203 - $2,400 Rental (+0.7%) </li>
            <li> 102: Foreclosures (-4)</li>
            <li> 62: Tax lien properties (+3)</li>
        </ul>
    </div>
</div>

    </div>
    <div id="infowindow-content">
      <span id="place-name" class="title"></span><br />
      <span id="place-address"></span>
    </div>

    <!-- 
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
<script 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgjoKgBaQghIlVps-ORsHYYl0GnIDyc0g&callback=initMap&libraries=places&v=weekly"
      defer
    ></script>
{% endblock %}

