{% extends "base.html" %}
{% block content %}
<div id="mainImage">
    <div class="image a"></div>
    <div class="image b"></div>
    <div id="leftArrow"></div>
    <div id="rightArrow"></div>
</div>
<div id="what">
<!--Your trusted partner </b>for construction and contracting services in the Texas Triangle. -->

<!--<div id="keys">Renovation • Carpentry • Electrical • Plumbing • Decks • Sheds • Domes • Repairs </div>-->
<p> 
Serving the greater Austin Metro area, BuildMana is your trusted team to get the job done right. Big jobs, small jobs — our team handles it.
<ul>
<li> Same-day estimates
<li> Fast, clear communication
<li> Friendly service
<li> Results Guaranteed
</ul>
</div>
<div id="services">SERVICES</div>
<div class="home">
    <div  id="servicesContainer">
        <div class="icon-grid">
            <div class="icon">
                <div class="image electric"></div>
                <div class="text">ELECTRIC</div>
            </div>
            <div class="icon">
                <div class="image plumbing"></div>
                <div class="text">PLUMBING</div>
            </div>
            <div class="icon">
                <div class="image carpentry"></div>
                <div class="text">CARPENTRY</div>
            </div>
            <div class="icon">
                <div class="image paint"></div>
                <div class="text">PAINT</div>
            </div>
            <div class="icon">
                <div class="image repair"></div>
                <div class="text">REPAIRS</div>
            </div>
            <div class="icon">
                <div class="image remodel"></div>
                <div class="text">REMODEL</div>
            </div>
            <div class="icon">
                <div class="image more"></div>
                <div class="text">AND MORE!</div>
            </div>
        </div>
    </div>

    <div id="contact">
        <a class="contactBtn" href="/contact">CONTACT US</a>
    </div>
</div>
{% endblock %}
