{% extends "base.html" %}
{% block content %}
<div class="portfolio">
    
    <div class="piece left">
        <div class="image studio"> </div>
        <div class="text"> Ground-up kitchen build, including counter, cabinets, sink, stainless steel appliances and wall shelving as a part of a full studio rehab.</div>
    </div>
        <div class="piece right">
        <div class="image deck"> </div>
        <div class="text"> Deck addition made of weatherproof redwood and pine to expand the client's view of their backyard from the master suite.</div>
    </div>
    <div class="piece left">
        <div class="image van"> </div>
        <div class="text"> Full Sprinter van build including insulation, bed, shelving, heater, and lighting effects.</div>
    </div>
    <div class="piece right">
        <div class="image pad"> </div>
        <div class="text"> Deck patio build including a fire pit, wood seating, trellis, and planters.</div>
    </div>
    <div class="piece left">
        <div class="image bath"> </div>
        <div class="text"> Updated bathroom fixtures and finishes for a clean and modern look.
        </div>
    </div>
    <div id="contact">
        <a class="contactBtn" href="/contact">CONTACT US</a>
    </div>
</div>
{% endblock %}
