{% extends "base.html" %}
{% block content %}
<div class="background"></div>
<div class="realtors">
    <div class="main">
        <div class="realsub">
            <h1> FOR REALTORS, BY REALTORS</h1> <!--id="title">🔨 Contact Us 🪚</div>-->
            <br/>✅ Plumbing ✅ Electrical ✅ Carpentry ✅ Painting ✅ General Repairs
            <h3></h3>
            <!--<h2>Introducing Build Mana - Your Trusted Home Remodel and Handyman Pros 🔨</h2>-->

            At Build Mana, we are dedicated to getting you the results you need to get your transaction closed. Whether it's fixing that leaky faucet, painting the living room, or even taking on a full-scale renovation project, our team of skilled and reliable handymen is at your service.<br/>
            <h3>Why choose Build Mana?</h3>
            <ul>
            <li>💬 We speak your language: Seller repairs, closing dates, showing times .. we've been there, and we understand your situation to give you the right service at the right time.
            <li>💼 Results 100% Guaranteed: We've got you covered with our Build Mana Guarantee. We're not done until you're satisfied — or you don't pay! 
            <li>👷‍♂️ Experienced Professionals: Our team comprises highly skilled handymen who bring years of expertise to every project.

            <li>🕒 Timely Service: We understand that time is of the essence in every real estate deal, and we complete projects efficiently without compromising on quality.
            <li>🏡 We Love What We Do: We're passionate about taking care of repairs so you can focus on negotiations instead of wrangling contractors!
            </ul>
            
            <h3>Ready to get that repair addendum handled? Give us a call: <br/>{{obj['phone']}}</h3>

        </div>
<div id="contact">
    <a class="contactBtn" href="/contact">CONTACT US</a>
</div>
	</div>
</div>


{% endblock %}

